### OSX
.DS_Store

### Gradle files
.gradle/
build/

### Intellij ###

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

# Directory-based project format:
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/